# Environment: dev or prod
ENV=dev

# Django
SECRET_KEY='your-super-secret-key-here'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Web App Port
PORT=8000

# PostgreSQL Database
POSTGRES_DB=api_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis Cache
REDIS_HOST=redis
REDIS_PORT=6379
